.btn {
  display: flex;
  position: absolute;
  right: 16px;
  visibility: hidden;
  button[disabled] {
    color: transparent;
  }
}

.comment {
  max-height: 140px;
  overflow: hidden;

  &:hover {
    button {
      visibility: visible !important;
    }
  }
}
